/* This is overriding bootstrap */

/* ------------------------- Global ------------------------- */

/* Font */
body {
	font-family: 'Dosis', sans-serif;
}

/* Adds new background class color */
.background-Gray {
	background-color: #778188!important;
}

/* Adds functionality to round buttons only on the top. Used in Bubble Sections */
.ButtonRoundingTop {
	border-radius: 15px 15px 0 0;
}

.PolkaDotBackground {
	background-image: radial-gradient(#ff9e9e 20%, transparent 20%),
	radial-gradient(#fafafa 20%, transparent 20%);
	background-color: #778188;
	background-position: 0 0, 50px 50px;
	background-size: 100px 100px;
}

/* ------------------------- Landing Section ------------------------- */

/* Adds small top and bottom border */
.container-fluid.PolkaDotBackground.py-5 {
	border-top: solid 3px #ff9e9e;
}

/* Creates box for text to be housed in */
.container-fluid.PolkaDotBackground.py-5 .container.p-5 {
	background-color: rgba(255, 158,158, 90%);
	border-radius: 15px;
}

/* ------------------------- Link Line ------------------------- */

/* Resizes Icons and adds colors */
.fa.fa-linkedin-square:before,
.fa.fa-github:before{
	font-size: 40px!important;
}

a.Icon {
	color: #ff9e9e!important;
}
a.Icon:hover {
	color: #ff8080!important;
}

/* Adds a small border at top and bottom */
nav.navbar.navbar-light.navbar-expand.justify-content-center.background-Gray.py-0 {
	border-top: solid 3px #ff9e9e;
	border-bottom: solid 3px #ff9e9e;
	padding: 0 0 0 0;
}

/* Background color for nav link, moves box to middle */
li.nav-item.NavContact a {
	background-color: #ff9e9e;
	min-height: 100%;
	display: flex;
	align-items: center;
}

/* Background color for nav link on hover */
li.nav-item.NavContact a:hover{
	background-color: #ff8080;
}


/* ------------------------- Bubble Sections ------------------------- */

/* Changes size of icons */
div ::before {
	font-size: 70px;
}

/* Border color and thickness for Bubbles */
div .BubbleBorder {
	border-color: #ff9e9e!important;
	border-width: 3px!important;
}

div#accordion .btn {
	padding-bottom: 2em!important;
}

/* Changes button on hover */
div .BubbleBorder:hover {
	background-color: rgba(119, 129, 136, 6%);
	border-color: #ff8080!important;
}

/* Removes default outline from buttons */
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

/* Changes color of button when selected */
button.btn[aria-expanded="true"] {
	color: white;
	background-color: #778188!important;
}

/* Changes selected button hover */
button.btn[aria-expanded="true"]:hover .BubbleBorder {
	color: rgba(255, 255, 255, 75%);
	background-color: #778188!important;
	border-color: #ff8080!important;
}

#collapseOne a,
#collapseTwo a {
	color: #ff9e9e!important;
}

#collapseOne a:hover,
#collapseTwo a:hover {
	color: #ff8080!important;
}

/* ------------------------- Reference Quotes ------------------------- */

div#carouselQuotesSlidesOnly {
	margin: 0 5em;
}

/* Colored border below Text */
h2.border-bottom {
	border-bottom: 1px;
	border-color: #ff9e9e!important;
}

/* Fixes -whom section spacing */
h2.border-bottom.font-italic.text-right {
	padding: 0 15% 10px 0;
}

/* Border around Reference Block */
.carousel-inner.border.border-secondary.text-center.my-5 {
	border-width: 3px!important;
	border-radius: 15px;
}

/* Fixes transition error */
.carousel-item,
.carousel-item-left {
	padding: 7em 15em 7em 15em;
	margin: auto;
}

/* ------------------------- Contact Form ------------------------- */

/* Fixes Form Labels */
label {
	margin: 1em 0 0 0;
}

/* Fixes Form Spacing */
input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
}

/* Bigger box for Message */
textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	height: 150px;
	resize: none;
}

/* Changes Submit Button */
button#submit {
	background-color: #ff9e9e;
	border-color: #ff9e9e;
	outline: 0;
	width: 20%;
	margin-top: 1em;
}

/* Changes Submit Button on Press */
button#submit:hover {
	background-color: #ff8080;
	border-color: #ff8080;
}