/* This is overriding bootstrap */

/* Links override for colors */
a, a:visited {
	color: black;
}

a:hover {
	color: hotpink;
}

/* Border color and thickness for Bubble Section */
div .BubbleBorder {
	border-color: hotpink!important;
}