/* This is overriding bootstrap */

/* ------------------------- Global ------------------------- */

/* Links override for colors */
a, a:visited {
	color: black;
}

a:hover {
	color: #FF83DE;
}


/* ------------------------- Bubble Sections ------------------------- */

/* Border color and thickness for Bubbles */
div .BubbleBorder {
	border-color: #FF83DE!important;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

.background-Gray {
	background-color: #a6a6a6!important;
}