/* This is overriding bootstrap */

/* ------------------------- Global ------------------------- */

/* Links override for colors */
a, a:visited {
	color: black;
}

a:hover {
	color: #ff9e9e;
}

/* Font */
body {
	font-family: 'Dosis', sans-serif;
}


/* ------------------------- Navbar ------------------------- */

/* Adds larger text size and thickness to header */
.navbar-brand {
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	font-weight: 500;
}

/* Resizes Icons */
::before {
	font-size: 60px;
}

/* ------------------------- Bubble Sections ------------------------- */

/* Border color and thickness for Bubbles */
div .BubbleBorder {
	border-color: #ff9e9e!important;
	border-width: 3px!important;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none;
}

/* Adds new background class color */
.background-Gray {
	background-color: #778188!important;
}


/* ------------------------- Contact Form ------------------------- */

/* Fixes Form Labels */
label {
	margin: 1em 0 0 0;
}

/* Fixes Form Spacing */
input {
	width: 100%;
	padding: 12px 20px;
	margin 8px 0;
}

/* Bigger box for Message */
textarea {
	width: 100%;
	padding: 12px 20px;
	margin 8px 0;
	height: 150px;
	resize: none;
}

/* Changes Submit Button */
input#submit {
	background-color: #ff9e9e;
	border-color: #ff9e9e;
	outline: 0;
	width: 20%;
	margin-top: 1em;
}